# Python Fundamentals for Machine Learning

#  Author : Dr.Thyagaraju G S , Context Innovations Lab 
#  Date : 15/7/2018

# My First Program

In [ ]:
# Program to find simple interest
p = int(input("\n Enter the principal Amount:"))
t = int(input("\n Enter the time period:"))
r = float(input("\n Enter the rate of interest:"))
si = p*t*r/100
print("\n Simple Interest:",si)

# 1.0  Output  using Print

In [ ]:
print('''This sentence is output to the screen''')
a=5
print("The value of a is:",a)
print('x:',1,2,3,4)
x = 5 ; y = 10
print('The value of x is {} and y is {}'.format(x,y))
print('I love {0} and {1}'.format('bread','butter'))
print('I love {1} and {0}'.format('bread','butter'))

In [ ]:
print('Hello {name}, {greeting}'.format(greeting = 'Good Morning!!',\
                                        name = 'John'))

In [ ]:
x = 12.3456789
print('The value of x is %3.2f' %x)
print('The value of x is %3.4f' %x)

In [ ]:
for x in range(1, 11):
     print('{0:2d} {1:3d} {2:4d}'.format(x, x*x, x*x*x))

In [ ]:
table = {'Raju': 9480123526, 'Ravi': 9480123527, 'Rahul': 9480123528}
for name, phone in table.items():
     print('{0:10} ==> {1:10d}'.format(name, phone))

In [ ]:
import math
print('The value of PI is approximately %5.3f.' % math.pi)

# 1.1 Input using input

In [ ]:
x = input('Enter a string: ')
print("The entered string is :{0}".format(x))
y = int(input('Enter a integer: '))
print("The entered integer is :",y)
z = float(input('Enter a floating point number:'))
print("The entered real number  is :",z)

# 1.3 Mutiline Statements

In [ ]:
# Example of implicit line continuation
x = ('1' + '2' +
     '3' + '4')
# Example of explicit line continuation
y = '1' + '2' + \
'11' + '12'
weekdays = ['Monday', 'Tuesday', 'Wednesday',
'Thursday', 'Friday']
weekday = {'one':
           'Monday'}
print ('x has a value of', x)
print ('y has a value of', y)
print(weekdays)
print(weekday)

In [ ]:
import os; x = 'Hello'; print(x)

# 2.0 Conditional Execution

#Example code for a simple ‘if’ statement
$$y=f(x^2)/2$$

In [ ]:
var = -1
if var < 0:
    print(var)
    print("the value of var is negative")
# If there is only a single clause then it may go on the same line as the
# header statement
if ( var == -1 ) : 
    print("the value of var is negative")

#Example code for ‘if else’ statement

In [ ]:
var = 1
if var < 0:
    print("the value of var is negative")
    print(var)
else:
    print("the value of var is positive")
    print(var)

# Example for nested if else

In [ ]:
score = 95
if score >= 99:
    print('A')
elif score >=75:
    print('B')
elif score >= 60:
    print('C')
elif score >= 35:
    print('D')
else:
    print('F')

# 3.0 Iterations

# Usage of For Loop

In [ ]:
# First Example
print("First Example")
for item in [1,2,3,4,5]:
    print('item :', item)
# Second Example
print("Second Example")
letters = ['A', 'B', 'C']
for index in range(len(letters)):
    print('First loop letter :', letters[index])

#While loop: The while statement repeats a set of code until the condition is true.

In [ ]:
#Example code for while loop statement
count = 0
while (count <3):
    print('The count is:', count)
    count = count + 1

# 4.1 LISTS

Python’s lists are the most flexible data type. It can be created by writing a list of comma separated values between square brackets. Note that that the items in the list need not be of the same data type.

In [ ]:
# Example code for accessing lists
# Create lists
list_1 = ['Statistics', 'Programming', 2016, 2017, 2018]
list_2 = ['a', 'b', 1, 2, 3, 4, 5, 6, 7 ]
# Accessing values in lists
print("list_1[0]: ", list_1[0])
print("list2_[1:5]: ", list_2[1:5])

In [ ]:
#Example code for adding new values to lists
print("list_1 values: ", list_1)
# Adding new value to list
list_1.append(2019)
print("list_1 values post append: ", list_1)

In [ ]:
#Example code for updating existing values of lists
print("Values of list_1: ", list_1)
# Updating existing value of list
print("Index 2 value : ", list_1[2])
list_1[2] = 2015;
print("Index 2's new value : ", list_1[2])

In [ ]:
#Example code for deleting a list element
print("list_1 values: ", list_1)
# Deleting list element
del list_1[5];
print("After deleting value at index 2 : ", list_1)

# Example code for basic operations on lists

In [ ]:
import math
import string
import operator
#Example code for basic operations on lists

print("Length: ", len(list_1))

print("Concatenation: ", [1,2,3] + [4, 5, 6])

print("Repetition :", ['Hello'] * 4)

print("Membership :", 3 in [1,2,3])

print("Iteration :")
for x in [1,2,3]: print(x)

# Negative sign will count from the right
print("slicing :", list_1[-2])

# If you dont specify the end explicitly, all elements from the specified
#start index will be printed
print("slicing range: ", list_1[1:])

print("Max of list: ", max([1,2,3,4,5]))

print("Min of list: ", min([1,2,3,4,5]))

print("Count number of 1 in list: ", [1,1,2,3,4,5,].count(1))

list_1.extend(list_2)

print("Extended :", list_1)

print("Index for Programming:",list_1.index('Programming'))
print (list_1)
print("pop last item in list: ", list_1.pop())
print("pop the item with index 2: ", list_1.pop(2))
list_1.remove('b')
print("removed b from list: ", list_1)
list_1.reverse()
print("Reverse: ", list_1)
list_1 = ['a','c','b']
list_1.sort()
print("Sort ascending: ", list_1)
list_1.sort(reverse = True)
print("Sort descending: ", list_1)

# 4.2 Tuples

A Python tuple is a sequences or series of immutable Python objects very much similar to the lists. However there exist some essential differences between lists and tuples, which are the following. 
1. Unlike list, the objects of tuples cannot be changed.
2. Tuples are defined by using parentheses, but lists are defined by square brackets

In [ ]:
# Example code for creating tuple
# Creating a tuple
Tuple = ()
print("Empty Tuple: ", Tuple)
Tuple = (1,)
print("Tuple with single item: ", Tuple)
Tuple = ('a','b','c','d',1,2,3)
print("Sample Tuple :", Tuple)

In [ ]:
#Example code for accessing tuple
# Accessing items in tuple
Tuple = ('a', 'b', 'c', 'd', 1, 2, 3)
print("3rd item of Tuple:", Tuple[2])
print("First 3 items of Tuple", Tuple[0:2])

In [ ]:
#Example code for deleting tuple
# Deleting tuple
print("Sample Tuple: ", Tuple)
del Tuple
print(Tuple) # Will throw an error message as the tuple does not exist

In [ ]:
# Example code for basic operations on tupe (not exhaustive)
# Basic Tuple operations
Tuple = ('a','b','c','d',1,2,3)
print("Length of Tuple: ", len(Tuple))
Tuple_Concat = Tuple + (7,8,9)
print("Concatinated Tuple: ", Tuple_Concat)

print("Repetition: ", (1,'a',2, 'b') * 3)
print("Membership check: ", 3 in (1,2,3))
# Iteration
for x in (1, 2, 3): print(x)
print("Negative sign will retrieve item from right: ", Tuple_Concat[-2])
print("Sliced Tuple [2:] ", Tuple_Concat[2:])
# Find max
print("Max of the Tuple (1,2,3,4,5,6,7,8,9,10): ",
max((1,2,3,4,5,6,7,8,9,10)))
print("Min of the Tuple (1,2,3,4,5,6,7,8,9,10): ",
min((1,2,3,4,5,6,7,8,9,10)))
print("List [1,2,3,4] converted to tuple: ", type(tuple([1,2,3,4])))

# 4.3 Dictionary

The Python dictionary will have a key and value pair for each item that is part of it. The key and value should be enclosed in curly braces. Each key and value is separated using a colon (:), and further each item is separated by commas (,). Note that the keys are unique within a specific dictionary and must be immutable data types such as strings, numbers,
or tuples, whereas values can take duplicate data of any type.

In [ ]:
# Example code for creating dictionary
# Creating dictionary
dict = {'Name': 'Jivin', 'Age': 6, 'Class': 'First'}
print("Sample dictionary: ", dict)

In [ ]:
# Example code for accessing dictionary
# Accessing items in dictionary
print("Value of key Name, from sample dictionary:", dict['Name'])

In [ ]:
#Example for deleting dictionary
# Deleting a dictionary

dict0 = {'Name': 'Jivin', 'Age': 6, 'Class': 'First'}
print("Sample dictionary: ", dict0)
k=1
for i in dict0:
    print(k,i,dict0[i])
    k=k+1
del (dict0['Name']) # Delete specific item

print("Sample dictionary post deletion of item Name:", dict0)

dict0 = {'Name': 'Jivin', 'Age': 6, 'Class': 'First'}
dict0.clear() # Clear all the contents of dictionary
print("dict post dict.clear():", dict0)

dict = {'Name': 'Jivin', 'Age': 6, 'Class': 'First'}
del (dict0) # Delete the dictionary
#print(dict0)

In [ ]:
#Example code for updating dictionary
dict = {'Name': 'Jivin', 'Age': 6, 'Class': 'First'}
print("Sample dictionary: ", dict)
dict['Age'] = 6.5
print("Dictionary post age value update: ", dict)

In [ ]:
#Example code for basic operations on dictionary
# Basic operations
dict = {'Name': 'Jivin', 'Age': 6, 'Class': 'First'}
print("Length of dict: ", len(dict))

# Copy the dict
dict1 = dict.copy()
print("Copy:\n",dict1)

# Retrieve value for a given key
print("Value for Age: ", dict.get('Age'))

# Return items of dictionary
print("dict items: ", dict.items())

# Return items of keys
print("dict keys: ", dict.keys())

# return values of dict
print("Value of dict: ", dict.values())

# Concatenate dicts
dict1 = {'Name': 'Jivin', 'Age': 6}
dict2 = {'Sex': 'male' }
dict1.update(dict2)
print("dict1.update(dict2) = ", dict1)

# 5.0 User-Defined Functions

A user-defined function is a block of related code statements that are organized to achieve a single related action. The key objective of the user-defined functions concept is to encourage modularity and enable reusability of code.

Syntax for creating functions without argument:
def functoin_name():
    1st block line
    2nd block line
    ...

In [ ]:
# Example code for creating functions without argument

# Simple function
def someFunction():
    print("Hello World")

# Call the function
someFunction()

Syntax for Creating Functions with Argument
def functoin_name(parameters):
    1st block line
    2nd block line
    ...
    return [expression]

In [ ]:
#Example code for creating functions with arguments

# Simple function to add two numbers
def sum_two_numbers(x, y):
        return x + y

# after this line x will hold the value 3
print(sum_two_numbers(1,2))

Scope of Variables
The availability of a variable or identifier within the program during and after the execution is determined by the scope of a variable. There are two fundamental variable scopes in Python.
1. Global variables
2. Local variables

In [ ]:
#Example code for defining variable scopes
# Global variable
x = 10
# Simple function to add two numbers
def sum_two_numbers(y):
    return x + y
# Call the function and print result
print(sum_two_numbers(10))

In [ ]:
#Variable Length Arguments
# Example code for passing argumens as *args
# Simple function to loop through arguments and print them

def sample_function(*args):
    for a in args:
        print(a)

# Call the function
sample_function(1,2,3)

In [ ]:
#Example code for passing argumens as 2D
# Simple function to loop through arguments and print them

def sample_function(**args):
    for a in args:
        print(a, args[a])
# Call the function
sample_function(name='John', age=27)

In [ ]:
#Lambda Function 
def add(x, y): 
    return x + y
print("FUNCTION ADD:\n",add(3,2))

add = lambda x, y : x + y 
print("LAMBDA ADD :\n",add(3,2))

# 6.0 Machine Learning Python Packages

Machine Learning is a collection of algorithms and techniques used to 
create computational systems that learn from data in order to make predictions and inferences.
AI Process Loop : 
[
• Observe – identify patterns using the data
• Plan – find all possible solutions
• Optimize – find optimal solution from the list of possible solutions
• Action – execute the optimal solution
• Learn and Adapt – is the result giving expected result, if no adapt
]
ML Process Loop :
[There are six major phases :
• Business understanding
• Data understanding
• Data preparation
• Modeling
• Evaluation
• Deployment
]
There is a rich number of open source libraries available to facilitate practical machine learning. These are mainly known as scientific Python libraries and are generally put to use when performing elementary machine learning tasks. At a high level we can divide these libraries into data analysis and core machine learning libraries based on their usage/purpose.

Data analysis packages: These are the sets of packages that provide us the mathematic and scientific functionalities that are essential to perform data preprocessing and transformation.
Core Machine learning packages: These are the set of packages that provide us with all the necessary machine learning algorithms and functionalities that can be applied on a given dataset to extract the patterns.

# 6.1: Data Analysis Packages

There are four key packages that are most widely used for data analysis.
# 6.1.1: NumPy
# 6.1.2: SciPy
# 6.1.3: Matplotlib
# 6.1.4: Pandas

# 6.1.1 : NumPy

NumPy is the core library for scientific computing in Python. It provides a highperformance multidimensional array object, and tools for working with these array

In [ ]:
#Example code for initializing NumPy array
import numpy as np
# Create a rank 1 array
a = np.array([0, 1, 2])
print(type(a))
# this will print the dimension of the array
print(a.shape)
print(a[0])
print(a[1])
print(a[2])
# Change an element of the array
a[0] = 5
print(a)

In [ ]:
# Create a rank 2 array
b = np.array([[0,1,2],[3,4,5]])
print(b.shape)
print(b)
print(b[0, 0], b[0, 1], b[1, 0])

In [ ]:
# Create a 3x3 array of all zeros
a = np.zeros((3,3))
print(a)

In [ ]:
# Create a 2x2 array of all ones
b = np.ones((2,2))
print(b)

In [ ]:
# Create a 3x3 constant array
c = np.full((3,3), 7)
print(c)

In [ ]:
# Create a 3x3 array filled with random values
d = np.random.random((3,3))
print(d)

In [ ]:
# Create a 3x3 identity matrix
e = np.eye(3)
print(e)

In [ ]:
# convert list to array
f = np.array([2, 3, 1, 0])
print(f)
#print([1,2,3])

In [ ]:
# arange() will create arrays with regularly incrementing values
g = np.arange(2,10)
print(g)

In [ ]:
# note mix of tuple and lists
h = np.array([[0,1,2.0],[0,0,0],(1+1j,3.,2.)])
print(h)

In [ ]:
# create an array of range with float data type
i = np.arange(1, 8, dtype=np.float)
print(i)

In [ ]:
# linspace() will create arrays with a specified number of items which are
# spaced equally between the specified beginning and end values
j = np.linspace(2., 4., 5)
print(j)

In [ ]:
# indices() will create a set of arrays stacked as a one-higher
# dimensioned array, one per dimension with each representing variation
# in that dimension
k = np.indices((3,3))
print(k)

In [ ]:
#NumPy datatypes
# Let numpy choose the datatype
x = np.array([0, 1])
y = np.array([2.0, 3.0])
# Force a particular datatype
z = np.array([5, 6], dtype=np.int64)
print(x.dtype, y.dtype, z.dtype)

In [ ]:
# Basic slicing : The basic slice syntax is i: j: k, 
# where i is the starting index,j is the stopping index,
# and k is the step and k is not equal to 0.
x = np.array([5, 6, 7, 8, 9])
print(x[1:7:2])
print(x[-2:5])
print(x[-1:1:-1])

In [ ]:
#Boolean array indexing
a=np.array([[1,2], [3, 4], [5, 6]])
# Find the elements of a that are bigger than 2
print (a > 2)
# to get the actual value
print (a[a > 2])

In [ ]:
import numpy as np
x=np.array([[1,2],[3,4],[5,6]])
y=np.array([[7,8],[9,10],[11,12]])
# Elementwise sum; both produce the array
print(x+y)
print(np.add(x, y))
# Elementwise difference; both produce the array
print(x-y)
print(np.subtract(x, y))

In [ ]:
# Elementwise product; both produce the array
print(x*y)
print(np.multiply(x, y))

In [ ]:
print(x/y)
print(np.divide(x, y))

In [ ]:
print(np.sqrt(x))

In [ ]:
x=np.array([[1,2],[3,4]])
y=np.array([[5,6],[7,8]])
a=np.array([9,10])
b=np.array([11, 12])
# Inner product of vectors; both produce 219
print(a.dot(b))
print(np.dot(a, b))

In [ ]:
# Matrix / vector product; both produce the rank 1 array [29 67]
print(x.dot(a))
print(np.dot(x, a))

In [ ]:
# Matrix / matrix product; both produce the rank 2 array
print(x.dot(y))
print(np.dot(x, y))

In [ ]:
# Sum function
x=np.array([[1,2],[3,4]])
# Compute sum of all elements
print (np.sum(x))
# Compute sum of each column
print (np.sum(x, axis=0))
# Compute sum of each row
print (np.sum(x, axis=1))

In [ ]:
#Transpose function
x=np.array([[1,2], [3,4]])
print(x)
print(x.T)

In [ ]:
# Note that taking the transpose of a rank 1 array does nothing:
v=np.array([1,2,3])
print(v)
print(v.T)

Broadcasting : Broadcasting enables arithmetic operations to be performed between different shaped arrays

In [ ]:
# Broadcasting using NumPy
a = np.array([[1,2,3], [4,5,6], [7,8,9]])
v = np.array([1, 0, 1])
# Add v to each row of a using broadcasting
b = a + v
print(b)

In [ ]:
# Add a vector to each column of a matrix
# x has shape (2, 3) and w has shape (2,).
# If we transpose x then it has shape (3, 2) and can be broadcast
# against w to yield a result of shape (3, 2); transposing this result
# yields the final result of shape (2, 3) which is the matrix x with
# the vector w added to each column
x=np.array([[1,2,1], [3,4,1]])
print("X.T:\n",x.T)
w= np.array([1,1])
print("W:\n",w)

print("Final :\n",(x.T + w).T)

In [ ]:
# Multiply a matrix by a constant:
# x has shape (2, 3). Numpy treats scalars as arrays of shape ();
# these can be broadcast together to shape (2, 3)
print(x * 2)

# 6.1.2 : PANDAS

In [ ]:
import pandas as pd

Pandas are an open source Python package providing fast, flexible, and expressive data structures designed to make working with “relational” or “labeled” data both easy and intuitive.
Pandas are well suited for tabular data with heterogeneously typed columns, as in an SQL table or Excel spreadsheet

# Data Structures:
Pandas introduces two new data structures to Python [ both of which are built on top of NumPy (this means it’s fast).]
1. Series 
2. DataFrame

1.Series :
This is a one-dimensional object similar to column in a spreadsheet or SQL table. By default each item will be assigned an index label from 0 to N.

In [ ]:
#Creating a pandas series
# creating a series by passing a list of values, and a custom index label.
#Note that the labeled index reference for each row and it can have
#duplicate values
s = pd.Series([1,2,3,np.nan,5,6], index=['A','B','C','D','E','F'])
print(s)

2.DataFrame :
It is a two-dimensional object similar to a spreadsheet or an SQL table. This is the most commonly used pandas object

In [ ]:
#Creating a pandas dataframe
data = {'Gender': ['F', 'M', 'M'],'Emp_ID': ['E01', 'E02',
'E03'], 'Age': [25, 27, 25]}
# We want the order the columns, so lets specify in columns parameter
df = pd.DataFrame(data, columns=['Emp_ID','Gender', 'Age'])
df

# Reading and Writing Data

In [ ]:
#Reading / writing data from csv, text, Excel

# Reading frome csv
df=pd.read_csv('C:/Users/Dr.Thyagaraju/Desktop/Data/PF/CSV/CHS2.csv') 
print("READ CSV:\n",df)
#Writing to csv
df.to_csv('C:/Users/Dr.Thyagaraju/Desktop/Data/PF/CSV/CHS0.csv', index=False)
print("WRITE CSV:\n",df)

# Reading from text Files 
df=pd.read_csv('C:/Users/Dr.Thyagaraju/Desktop/Data/PF/TEXT/ex.txt', sep='\t') # from text file
print("READ TXT:\n",df)
#Writing to text Files
df.to_csv('C:/Users/Dr.Thyagaraju/Desktop/Data/PF/TEXT/ex0.txt', sep='\t', index=False)
print("WRITE TXT:\n",df)

#Reading from Excel File 
df=pd.read_excel('C:/Users/Dr.Thyagaraju/Desktop/Data/PF/EXCEL/Heart_Patient.xlsx','Sheet1') # from Excel
print("READ EXCEL:\n",df)

#Writing to Excel File
df.to_excel('C:/Users/Dr.Thyagaraju/Desktop/Data/PF/EXCEL/Heart_Patient0.xlsx',sheet_name='Sheet1', index = False)
print("WRITE EXCEL:\n",df)

# reading from multiple sheets of same Excel into different dataframes
xlsx = pd.ExcelFile('C:/Users/Dr.Thyagaraju/Desktop/Data/PF/EXCEL/Heart_Patient.xlsx')
sheet1_df = pd.read_excel(xlsx, 'Sheet1')
print("EXCEL SHEET1:\n",sheet1_df)
sheet2_df = pd.read_excel(xlsx, 'Sheet2')
print("EXCEL SHEET2:\n",sheet2_df)

# writing
# index = False parameter will not write the index values, default is True

# Loading Data From URL

In [ ]:
# Load CSV from URL using NumPy
from numpy import loadtxt
from urllib.request import urlopen
url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv'
raw_data = pd.read_csv(urlopen(url))
print(raw_data.shape)
print(raw_data.head())

# Loading Data From Library

In [ ]:
from sklearn.datasets import load_iris
import numpy as np
iris=load_iris()
#iris = datasets.load_iris()
X = pd.DataFrame(iris.data)
X.columns = ['Sepal_Length','Sepal_Width','Petal_Length','Petal_Width']
#X.head()
print("Shape:\n",X.shape)
print("Head:\n",X.head(5))
print("Tail:\n",X.tail(5))

# Basic Statistics Summary

Pandas has some built-in functions to help us to get better understanding of data using basic statistical summary methods
describe()- will returns the quick stats such as count, mean, std (standard
deviation), min, first quartile, median, third quartile, max on each column
of the dataframe

In [ ]:
df = pd.DataFrame(iris.data)
df.columns = ['Sepal_Length','Sepal_Width','Petal_Length','Petal_Width']
df.describe()

cov() - Covariance indicates how two variables are related. A positive
covariance means the variables are positively related, while a negative
covariance means the variables are inversely related. Drawback of covariance is that it does not tell you the degree of positive or negative relation

In [ ]:
df.cov()

corr() - Correlation is another way to determine how two variables are
related. In addition to telling you whether variables are positively or
inversely related, correlation also tells you the degree to which the
variables tend to move together. When you say that two items correlate, you
are saying that the change in one item effects a change in another item. You will always talk about correlation as a range between -1 and 1. In the below example code, petal length is 87% positively related to sepal length that means a change in petal length results in a positive 87% change to sepal lenth and vice versa.

In [ ]:
df.corr()

# Grouping

Grouping involves one or more of the following steps:
• Splitting the data into groups based on some criteria,
• Applying a function to each group independently,
• Combining the results into a data structure

In [ ]:
#Grouping operation
df = pd.DataFrame({'Name' : ['jack', 'jane', 'jack', 'jane', 'jack', 'jane',
'jack', 'jane'],'State' : ['SFO', 'SFO', 'NYK', 'CA', 'NYK', 'NYK','SFO', 'CA'],
'Grade':['A','A','B','A','C','B','C','A'],
'Age' : np.random.uniform(24, 50, size=8),
'Salary' : np.random.uniform(3000, 5000, size=8),})
# Note that the columns are ordered automatically in their alphabetic order
print(df)
# for custom order please use below code
# df = pd.DataFrame(data, columns = ['Name', 'State', 'Age','Salary'])
# Find max age and salary by Name / State
# with groupby, we can use all aggregate functions such as min, max, mean,
#count, cumsum
df.groupby(['Name','State']).max()

# 7.0 Matplotlib

In [ ]:
import matplotlib.pyplot as plt

Matplotlib is a numerical mathematics extension NumPy and a great package to view or present data in a pictorial or graphical format. It enables analysts and decision makers to see analytics presented visually, so they can grasp difficult concepts or identify new patterns. There are two broad ways of using pyplot.
# 1. Using Global Functions
The most common and easy approach is by using global functions to build and display a global figure using matplotlib as a global state machine. Some of the most commonly used charts. 
      
    # plt.scatter – makes a scatter plot
    # plt.bar – creates a bar chart
    # plt.boxplot – makes a box and whisker plot
    # plt.hist – makes a histogram
    # plt.plot – creates a line plot

In [ ]:
# Creating plot on variables
# simple bar and scatter plot

x = np.arange(5) # assume there are 5 students
y = (20, 35, 30, 35, 27) # their test scores
plt.bar(x,y) # Bar plot

# need to close the figure using show() or close(), if not closed
# any follow plot commands will use same figure.

plt.show() # Try commenting this an run
plt.scatter(x,y) # scatter plot
plt.show()

In [ ]:
# Read sample data
df = pd.DataFrame(iris.data)
df.columns = ['Sepal_Length','Sepal_Width','Petal_Length','Petal_Width']
print("Histogram:\n")
df.hist()# Histogram
plt.show()
print("Line Graph:\n")
df.plot() # Line Graph
plt.show()
print("Box Plot:\n")
df.boxplot() # Box plot
plt.show()

# Customizing Labels

In [ ]:
#Customize labels

# generate sample data
x = np.linspace(0, 20, 1000) #100 evenly-spaced values from 0 to 50
y = np.sin(x)

# customize axis labels
plt.plot(x, y, label = 'Sample Label')
plt.title('Sample Plot Title') # chart title
plt.xlabel('x axis label') # x axis title
plt.ylabel('y axis label') # y axis title
plt.grid(True) # show gridlines

# add footnote
plt.figtext(0.5, 0.01, 'Fig1: Sinusoidal', ha='right', va='bottom')

# add legend, location pick the best automatically
plt.legend(loc='best', framealpha=0.5, prop={'size':'small'})

# tight_layout() can take keyword arguments of pad, w_pad and h_pad.
# these control the extra padding around the figure border and between
#subplots. The pads are specified in fraction of fontsize.
plt.tight_layout(pad=1)

# Saving chart to a file
#plt.savefig('filename.png')
#plt.close() 
# Close the current window to allow new plot creation on
#separate window / axis, alternatively we can use show()
plt.show()

# 8.0 Machine Learning Libraries

In [ ]:
# Python version
import sys
print('Python: {}'.format(sys.version))
# scipy
import scipy
print('scipy: {}'.format(scipy.__version__))
# numpy
import numpy
print('numpy: {}'.format(numpy.__version__))
# matplotlib
import matplotlib
print('matplotlib: {}'.format(matplotlib.__version__))
# pandas
import pandas
print('pandas: {}'.format(pandas.__version__))
# scikit-learn
import sklearn
print('sklearn: {}'.format(sklearn.__version__))
import seaborn
print('seaborn: {}'.format(seaborn.__version__))
import pgmpy
print('pgmpy: {}'.format(pgmpy.__name__))
import urllib
print('urlib: {}'.format(urllib.__name__))
import csv
print('csv: {}'.format(csv.__version__))

# 8.1 Scipy

SciPy, pronounced as Sigh Pi, is a scientific python open source, distributed under the BSD licensed library to perform Mathematical, Scientific and Engineering Computations.
The SciPy library depends on NumPy, which provides convenient and fast N-dimensional array manipulation. The SciPy library is built to work with NumPy arrays and provides many user-friendly and efficient numerical practices such as routines for numerical integration and optimization. Together, they run on all popular operating systems, are quick to install and are free of charge. NumPy and SciPy are easy to use, but powerful enough to depend on by some of the world's leading scientists and engineers.

In [ ]:
import numpy as np
print(np.linspace(1., 4., 6))

In [ ]:
#K-Means Implementation in SciPy
from scipy.cluster.vq import kmeans,vq,whiten
from numpy import vstack,array
from numpy.random import rand

# data generation with three features
data = vstack((rand(100,3) + array([.5,.5,.5]),rand(100,3)))
#print(data)
# whitening of data for normalizing
data = whiten(data)
#print(data)
# computing K-Means with K = 3 (2 clusters)
centroids,_ = kmeans(data,3)
print("Centroids:\n",centroids)
# assign each sample to a cluster
clx,_ = vq(data,centroids)
print("Cluster:\n",clx)

In [ ]:
#Fast Fourier Transform
#Importing the fft and inverse fft functions from fftpackage
from scipy.fftpack import fft

#create an array with random n numbers
x = np.array([1.0, 2.0, 1.0, -1.0, 1.5])

#Applying the fft function
y = fft(x)
print("FFT :\n",y)

from scipy.fftpack import ifft
yinv = ifft(y)
print("FFT Inverse:\n",yinv)

In [ ]:
#Discrete Cosine Transform
from scipy.fftpack import dct
print ("DCT:\n",dct(np.array([4., 3., 5., 10., 5., 3.])))

#Inverse Discrete Cosine Transform
from scipy.fftpack import idct
print("IDCT:\n",idct(np.array([4., 3., 5., 10., 5., 3.])))

# SciPy - Integrate
The general form of quad is scipy.integrate.quad(f, a, b), Where ‘f’ is the name of the function to be integrated. Whereas, ‘a’ and ‘b’ are the lower and upper limits, respectively. Let us see an example of the Gaussian function, integrated over a range of 0 and 1.
$$ f(x)= (e^x)^2 $$ 
# ∫f(x)dx

In [ ]:
# Single Integration 
import scipy.integrate
from numpy import exp
f= lambda x:exp(-x**2)
i = scipy.integrate.quad(f, 0, 1)
print(i)

# Linear Algebra
# x + 3y + 5z = 10
# 2x + 5y + z = 8
# 2x + 3y + 8z = 3

In [ ]:
#importing the scipy and numpy packages
from scipy import linalg
import numpy as np

#Declaring the numpy arrays
a = np.array([[1, 3, 5], [2, 5, 1], [2, 3, 8]])
b = np.array([10, 8, 3])

#Passing the values to the solve function
X = linalg.solve(a, b)

#printing the result array
print (X)

# Finding a Determinant

In [ ]:
#importing the scipy and numpy packages
from scipy import linalg
import numpy as np

#Declaring the numpy array
A = np.array([[1,2],[3,4]])

#Passing the values to the det function
x = linalg.det(A)

#printing the result
print (x)

# Eigenvalues and Eigenvectors

In [ ]:
#importing the scipy and numpy packages
from scipy import linalg
import numpy as np

#Declaring the numpy array
A = np.array([[1,2],[3,4]])

#Passing the values to the eig function
l, v = linalg.eig(A)

#printing the result for eigen values
print ("Eigen Values :\n",l)

#printing the result for eigen vectors
print ("Eigen Vectors:\n",v)

# Image Processing

In [ ]:
from scipy import misc
f = misc.face()
misc.imsave('face.png', f) # uses the Image module (PIL)

import matplotlib.pyplot as plt
plt.imshow(f)
plt.show()

In [ ]:
# Statistical Information of the image 
from scipy import misc
face = misc.face(gray = False)
print(face.mean(), face.max(), face.min())

In [ ]:
# Cropping
from scipy import misc
face = misc.face(gray = True)
lx,ly = face.shape
# Cropping
crop_face = face[lx//4 : -lx//4 , ly//4 : -ly//4]
import matplotlib.pyplot as plt
plt.imshow(crop_face)
plt.show()

In [ ]:
# up <-> down flip
from scipy import misc
face = misc.face()
flip_ud_face = np.flipud(face)

import matplotlib.pyplot as plt
plt.imshow(flip_ud_face)
plt.show()

In [ ]:
# rotation
from scipy import misc,ndimage
face = misc.face()
rotate_face = ndimage.rotate(face, 45)

import matplotlib.pyplot as plt
plt.imshow(rotate_face)
plt.show()

In [ ]:
# Blurring 
from scipy import misc
face = misc.face()
blurred_face = ndimage.gaussian_filter(face, sigma=3)
import matplotlib.pyplot as plt
plt.imshow(blurred_face)
plt.show()

In [ ]:
# Edge Detection
import scipy.ndimage as nd
import numpy as np

im = np.zeros((256, 256))
im[64:-64, 64:-64] = 1
im[90:-90,90:-90] = 2
im = ndimage.gaussian_filter(im, 0)

import matplotlib.pyplot as plt
plt.imshow(im)
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import numpy as np
img=mpimg.imread('C:/Users/Dr.Thyagaraju/Desktop/Data/Image/C1.jpg')
#print(img)
plt.imshow(img)
plt.show()

# 8.2 sklearn

Scikit-learn provides a range of supervised and unsupervised learning algorithms via a consistent interface in Python.It is licensed under a permissive simplified BSD license and is distributed under many Linux distributions, encouraging academic and commercial use.
The library is built upon the SciPy (Scientific Python) that must be installed before you can use scikit-learn. This stack that includes:
NumPy: Base n-dimensional array package
SciPy: Fundamental library for scientific computing
Matplotlib: Comprehensive 2D/3D plotting
IPython: Enhanced interactive console
Sympy: Symbolic mathematics
Pandas: Data structures and analysis

In [ ]:
import sklearn

# Scikit Learn Loading Dataset

In [ ]:
from sklearn import datasets

In [ ]:
# Data sets available in sklearn
iris= datasets.load_iris()
houseprice = datasets.load_boston()
diabetes = datasets.load_diabetes()
digits = datasets.load_digits()
linerud= datasets.load_linnerud()   #Fitness Club Data Set
wine = datasets.load_wine()
breastcancer = datasets.load_breast_cancer()

In [ ]:
print(digits.target_names)
print(digits.data[0])

In [ ]:
print(houseprice.feature_names)
print(houseprice.data[0])

In [ ]:
print(diabetes.feature_names)
print(diabetes.data[0])

In [ ]:
print(linerud.data[0])
print(linerud.feature_names)

In [ ]:
print(wine.feature_names)
print(wine.data[0])

In [ ]:
print(breastcancer.feature_names)
print(breastcancer.data[0])

In [ ]:
# Print shape of data to confirm data is loaded
print("IRIS:\n",iris.data.shape)
print("HOUSEPRICE:\n",houseprice.data.shape)
print("DIABETES:\n",diabetes.data.shape)
print("DIGITS:\n",digits.data.shape)
print("LINERUD:\n",linerud.data.shape)
print("WINE:\n",wine.data.shape)
print("BREASTCANCER:\n",breastcancer.data.shape)

In [ ]:
# see what’s available in iris:
iris.keys()
print("IRIS KEYS:\n",iris.keys())
n_samples, n_features = iris.data.shape
print ("IRIS # SAMPLES:\n",n_samples)
print ("IRIS # FEATURES:\n",n_features)
print ("IRIS FIRST FEW ROWS:\n",iris.data[0:10])
print("IRIS TARGETS NAMES",iris.target_names)
print("IRIS FEATURE NAMES",iris.feature_names)
print("IRIS TARGET",iris.target)
print("IRIS DESCR",iris.DESCR)
iris_X = iris.data
iris_y = iris.target
np.unique(iris_y)

In [ ]:
# Split iris data in train and test data
# A random permutation, to split the data randomly
np.random.seed(0)
indices = np.random.permutation(len(iris_X))
iris_X_train = iris_X[indices[:-10]]
iris_y_train = iris_y[indices[:-10]]
iris_X_test = iris_X[indices[-10:]]
iris_y_test = iris_y[indices[-10:]]
# Create and fit a nearest-neighbor classifier
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(iris_X_train, iris_y_train)
KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
metric_params=None, n_jobs=1, n_neighbors=5, p=2,
weights='uniform')
print("Predicted :\n",knn.predict(iris_X_test))
print("Actual:\n",iris_y_test)

# Linear regression

LinearRegression, in its simplest form, fits a linear model to the data set by adjusting a set of parameters in order to make the sum of the squared residuals of the model as small as possible

In [ ]:
diabetes = datasets.load_diabetes()
diabetes_X_train = diabetes.data[:-20]
diabetes_X_test = diabetes.data[-20:]
diabetes_y_train = diabetes.target[:-20]
diabetes_y_test = diabetes.target[-20:]

In [ ]:
from sklearn import linear_model
regr = linear_model.LinearRegression()
regr.fit(diabetes_X_train, diabetes_y_train)
print("Regression Coef:\n",regr.coef_)
print("Mean:\n",np.mean((regr.predict(diabetes_X_test)-diabetes_y_test)**2))
# Explained variance score: 1 is perfect prediction
# and 0 means that there is no linear relationship
# between X and y.
regr.score(diabetes_X_test, diabetes_y_test)

In [ ]:
# Sample Decision Tree Classifier
from sklearn import datasets
from sklearn import metrics
from sklearn.tree import DecisionTreeClassifier
# load the iris datasets
dataset = datasets.load_iris()
# fit a CART model to the data
model = DecisionTreeClassifier()
model.fit(dataset.data, dataset.target)
print(model)
# make predictions
expected = dataset.target
predicted = model.predict(dataset.data)
# summarize the fit of the model
print(metrics.classification_report(expected, predicted))
print(metrics.confusion_matrix(expected, predicted))

# 8.3 pgmpy

# Probabilistic Graphical Models using pgmpy

Probabilistic Graphical Model is a way of compactly representing Joint Probability distribution over random variables using the independence conditions of the variables

In [ ]:
import pgmpy

In [ ]:
# Generate data
import numpy as np
import pandas as pd

raw_data = np.array([0] * 30 + [1] * 70) # Representing heads by 0 and tails by 1
data = pd.DataFrame(raw_data, columns=['coin'])
print(data[25:35])

In [ ]:
# Defining the Bayesian Model
from pgmpy.models import BayesianModel
from pgmpy.estimators import MaximumLikelihoodEstimator, BayesianEstimator

model = BayesianModel()
model.add_node('coin')

# Fitting the data to the model using Maximum Likelihood Estimator
model.fit(data, estimator=MaximumLikelihoodEstimator)
print(model.get_cpds('coin'))

In [ ]:
# Fitting the data to the model using Bayesian Estimator with Dirichlet prior with equal pseudo counts.
model.fit(data, estimator=BayesianEstimator, prior_type='dirichlet', pseudo_counts={'coin': [50, 50]})
print(model.get_cpds('coin'))

We can see that we get the results as expected. In the maximum likelihood case we got the probability just based on the data where as in the bayesian case we had a prior of  P(H) = 0.5  and  P(T) = 0.5 , therefore with 30% heads and 70% tails in the data we got a posterior of  P(H) = 0.4  and  P(T) = 0.6 .
Similarly we can learn in case of more complex model. Let's take an example of the student model and compare the results in case of Maximum Likelihood estimator and Bayesian Estimator.

In [ ]:
# Generating radom data with each variable have 2 states and equal probabilities for each state
import numpy as np
import pandas as pd

raw_data = np.random.randint(low=0, high=2, size=(1000, 5))
data = pd.DataFrame(raw_data, columns=['D', 'I', 'G', 'L', 'S'])
print(data[100: 111])

In [ ]:
# Defining the model
from pgmpy.models import BayesianModel
from pgmpy.estimators import MaximumLikelihoodEstimator, BayesianEstimator

model = BayesianModel([('D', 'G'), ('I', 'G'), ('I', 'S'), ('G', 'L')])

# Learing CPDs using Maximum Likelihood Estimators
model.fit(data, estimator=MaximumLikelihoodEstimator)
for cpd in model.get_cpds():
    print("CPD of {variable}:".format(variable=cpd.variable))
    print(cpd)

As the data was randomly generated with equal probabilities for each state we can see here that all the probability values are close to 0.5 which we expected. Now coming to the Bayesian Estimator:

#  Python Collection Counter

In [ ]:
# Learning with Bayesian Estimator using dirichlet prior for each variable.

pseudo_counts = {'D': [300, 700], 'I': [500, 500], 'G': [800, 200], 'L': [500, 500], 'S': [400, 600]}
model.fit(data, estimator=BayesianEstimator, prior_type='dirichlet', pseudo_counts=pseudo_counts)
for cpd in model.get_cpds():
    print("CPD of {variable}:".format(variable=cpd.variable))
    print(cpd)

Since the data was randomly generated with equal probabilities for each state, the data tries to bring the posterior probabilities close to 0.5. But because of the prior we will get the values in between the prior and 0.5.

In [1]:
# Tally occurrences of words in a list
from collections import Counter
cnt = Counter()
for word in ['red', 'blue', 'red', 'green', 'blue', 'blue']:
        cnt[word] += 1
 
print(cnt)

Counter({'blue': 3, 'red': 2, 'green': 1})

# Python Number random() Method

In [47]:
# Example
import random

# First random number
print("random() : ", random.random())

# Second random number
print("random() : ", random.random())

random() :  0.9994210479556656
random() :  0.6251970261682858

In [39]:
import random
print(random.randint(0, 5))

1

In [40]:
import random
print(random.random() * 100)

75.78510407630637

In [41]:
print(random.choice( ['red', 'black', 'green'] ))

black

In [48]:
import random
for x in range(10):
      print(random.randint(1,101))

4
11
96
44
79
10
92
44
79
93

In [45]:
import random
for i in range(3):
    print (random.randrange(0, 101, 5)) #range(start, stop, step)

55
35
80

# Python Agg Function

In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame([[1, 2, 3],
                    [4, 5, 6],
                    [7, 8, 9],
                    [np.nan, np.nan, np.nan]],
                   columns=['A', 'B', 'C'])

In [3]:
df.agg(['sum', 'min'])

        A     B     C
sum  12.0  15.0  18.0
min   1.0   2.0   3.0

In [11]:
df.agg({'A' : ['sum', 'min'], 'B' : ['min', 'max']})

        A    B
max   NaN  8.0
min   1.0  2.0
sum  12.0  NaN

In [6]:
def add(x):
    return x

In [12]:
df2 = df.agg({'A':[add,lambda x: x/2]})['A']

In [13]:
print(df2)

   add  <lambda>
0  1.0       0.5
1  4.0       2.0
2  7.0       3.5
3  NaN       NaN

#  Python Pandas - GroupBy

Any groupby operation involves one of the following operations on the original object. They are −

# Splitting the Object

# Applying a function

# Combining the results

In many situations, we split the data into sets and we apply some functionality on each subset. In the apply functionality, we can perform the following operations −

# Aggregation − computing a summary statistic

# Transformation − perform some group-specific operation

# Filtration − discarding the data with some condition

In [1]:
#import the pandas library
import pandas as pd

ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
         'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
         'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)

print (df)

    Points  Rank    Team  Year
0      876     1  Riders  2014
1      789     2  Riders  2015
2      863     2  Devils  2014
3      673     3  Devils  2015
4      741     3   Kings  2014
5      812     4   kings  2015
6      756     1   Kings  2016
7      788     1   Kings  2017
8      694     2  Riders  2016
9      701     4  Royals  2014
10     804     1  Royals  2015
11     690     2  Riders  2017

# Split Data into Groups

Pandas object can be split into any of their objects. There are multiple ways to split an object like −
## 1. obj.groupby('key')
## 2. obj.groupby(['key1','key2'])
## 3. obj.groupby(key,axis=1)
Let us now see how the grouping objects can be applied to the DataFrame object

# Example

In [3]:
# import the pandas library
import pandas as pd

ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
         'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
         'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)

print(df.groupby('Team'))

<pandas.core.groupby.DataFrameGroupBy object at 0x06ABA270>

# View Groups

In [4]:
print(df.groupby('Team').groups)

{'Devils': Int64Index([2, 3], dtype='int64'), 'Kings': Int64Index([4, 6, 7], dtype='int64'), 'Riders': Int64Index([0, 1, 8, 11], dtype='int64'), 'Royals': Int64Index([9, 10], dtype='int64'), 'kings': Int64Index([5], dtype='int64')}

# Example
Group by with multiple columns −

In [8]:
print(df.groupby(['Team','Year']).groups)

{('Devils', 2014): Int64Index([2], dtype='int64'), ('Devils', 2015): Int64Index([3], dtype='int64'), ('Kings', 2014): Int64Index([4], dtype='int64'), ('Kings', 2016): Int64Index([6], dtype='int64'), ('Kings', 2017): Int64Index([7], dtype='int64'), ('Riders', 2014): Int64Index([0], dtype='int64'), ('Riders', 2015): Int64Index([1], dtype='int64'), ('Riders', 2016): Int64Index([8], dtype='int64'), ('Riders', 2017): Int64Index([11], dtype='int64'), ('Royals', 2014): Int64Index([9], dtype='int64'), ('Royals', 2015): Int64Index([10], dtype='int64'), ('kings', 2015): Int64Index([5], dtype='int64')}

# Iterating through Groups
With the groupby object in hand, we can iterate through the object similar to itertools.obj.

In [9]:
grouped = df.groupby('Year')

for name,group in grouped:
    print (name)
    print (group)

2014
   Points  Rank    Team  Year
0     876     1  Riders  2014
2     863     2  Devils  2014
4     741     3   Kings  2014
9     701     4  Royals  2014
2015
    Points  Rank    Team  Year
1      789     2  Riders  2015
3      673     3  Devils  2015
5      812     4   kings  2015
10     804     1  Royals  2015
2016
   Points  Rank    Team  Year
6     756     1   Kings  2016
8     694     2  Riders  2016
2017
    Points  Rank    Team  Year
7      788     1   Kings  2017
11     690     2  Riders  2017

# Select a Group
Using the get_group() method, we can select a single group.

In [10]:
grouped = df.groupby('Year')
print(grouped.get_group(2014))

   Points  Rank    Team  Year
0     876     1  Riders  2014
2     863     2  Devils  2014
4     741     3   Kings  2014
9     701     4  Royals  2014

# Aggregations
An aggregated function returns a single aggregated value for each group. Once the group by object is created, several aggregation operations can be performed on the grouped data.
An obvious one is aggregation via the aggregate or equivalent ## agg method −

In [16]:
import numpy as np
grouped = df.groupby('Year')
print(grouped['Points'].agg(np.mean))

Year
2014    795.25
2015    769.50
2016    725.00
2017    739.00
Name: Points, dtype: float64

In [17]:
# Another way to see the size of each group is by applying the size() function −
grouped = df.groupby('Team')
print(grouped.agg(np.size))

        Points  Rank  Year
Team
Devils       2     2     2
Kings        3     3     3
Riders       4     4     4
Royals       2     2     2
kings        1     1     1

# Applying Multiple Aggregation Functions at Once
With grouped Series, you can also pass a list or dict of 
functions to do aggregation with, and generate DataFrame as output −

In [18]:
grouped = df.groupby('Team')
print(grouped['Points'].agg([np.sum, np.mean, np.std]))

         sum        mean         std
Team
Devils  1536  768.000000  134.350288
Kings   2285  761.666667   24.006943
Riders  3049  762.250000   88.567771
Royals  1505  752.500000   72.831998
kings    812  812.000000         NaN

# Transformations
Transformation on a group or a column returns an object that is indexed the 
same size of that is being grouped. Thus, the transform should return a result 
that is the same size as that of a group chunk.

In [20]:
grouped = df.groupby('Team')
score = lambda x: (x - x.mean()) / x.std()*10
print(grouped.transform(score))

       Points       Rank       Year
0   12.843272 -15.000000 -11.618950
1    3.020286   5.000000  -3.872983
2    7.071068  -7.071068  -7.071068
3   -7.071068   7.071068   7.071068
4   -8.608621  11.547005 -10.910895
5         NaN        NaN        NaN
6   -2.360428  -5.773503   2.182179
7   10.969049  -5.773503   8.728716
8   -7.705963   5.000000   3.872983
9   -7.071068   7.071068  -7.071068
10   7.071068  -7.071068   7.071068
11  -8.157595   5.000000  11.618950

# Filtration
Filtration filters the data on a defined criteria and returns the subset of data. The filter() function is used to filter the data.

In [21]:
print(df.groupby('Team').filter(lambda x: len(x) >= 3))

    Points  Rank    Team  Year
0      876     1  Riders  2014
1      789     2  Riders  2015
4      741     3   Kings  2014
6      756     1   Kings  2016
7      788     1   Kings  2017
8      694     2  Riders  2016
11     690     2  Riders  2017

# numpy.random.rand() :

In [49]:
import numpy as np
np.random.rand(3,2)

array([[ 0.71070532,  0.50297688],
       [ 0.03314543,  0.92863235],
       [ 0.48879743,  0.03026067]])

In [52]:
np.random.rand(10)

array([ 0.83073736,  0.64062029,  0.40264345,  0.93153742,  0.12258156,
        0.69133444,  0.74910187,  0.55130588,  0.44917516,  0.93903438])

In [53]:
import random
print(random.randint(0,9))

7

# Row or Column Wise Function Application: apply()

### Arbitrary functions can be applied along the axes of a DataFrame or Panel using the apply() method, which, like the descriptive statistics methods, takes an optional axis argument. By default, the operation performs column wise, taking each column as an array-like.

## Example 1

In [37]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)
df.apply(np.mean)
print (df.apply(np.mean))

       col1      col2      col3
0 -0.364455 -1.082244  0.502910
1 -0.738603  1.259886  0.159887
2 -0.521312 -1.026318 -0.274471
3 -1.014640 -0.739245  0.116257
4 -0.209844 -2.009985  0.950417
col1   -0.569771
col2   -0.719581
col3    0.291000
dtype: float64

## Example 2: 
By passing axis parameter, operations can be performed row wise

In [24]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df.apply(np.mean,axis=1)
print(df.apply(np.mean))

col1   -1.023141
col2   -0.016045
col3   -0.519357
dtype: float64

## Example 3:

In [25]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df.apply(lambda x: x.max() - x.min())
print (df.apply(np.mean))

col1   -0.091577
col2    0.014258
col3   -0.030618
dtype: float64

In [63]:
df = pd.DataFrame([[4, 9],] * 3, columns=['A', 'B'])
df

   A  B
0  4  9
1  4  9
2  4  9

In [64]:
df.apply(np.sqrt)

     A    B
0  2.0  3.0
1  2.0  3.0
2  2.0  3.0

In [65]:
df.apply(np.sum, axis=0)

A    12
B    27
dtype: int64

In [66]:
df.apply(np.sum, axis=1)

0    13
1    13
2    13
dtype: int64

In [67]:
df.apply(lambda x: [1, 2], axis=1)

   A  B
0  1  2
1  1  2
2  1  2

In [70]:
df.apply(lambda x: pd.Series([1, 2], index=['foo', 'bar']), axis=1)

   foo  bar
0    1    2
1    1    2
2    1    2

In [73]:
import pandas as pd

In [74]:
url = 'http://bit.ly/kaggletrain'
train = pd.read_csv(url)
train.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

## map() function as a Series method 
## Mostly used for mapping categorical data to numerical data

In [75]:
# create new column
train['Sex_num'] = train.Sex.map({'female':0, 'male':1})

In [76]:
# let's compared Sex and Sex_num columns
# here we can see we map male to 1 and female to 0
train.loc[0:4, ['Sex', 'Sex_num']]

      Sex  Sex_num
0    male        1
1  female        0
2  female        0
3  female        0
4    male        1

# apply() function as a Series method 
## Applies a function to each element in the Series

In [77]:
# say we want to calculate length of string in each string in "Name" column

# create new column
# we are applying Python's len function
train['Name_length'] = train.Name.apply(len)

In [78]:
# the apply() method applies the function to each element
train.loc[0:4, ['Name', 'Name_length']]

                                                Name  Name_length
0                            Braund, Mr. Owen Harris           23
1  Cumings, Mrs. John Bradley (Florence Briggs Th...           51
2                             Heikkinen, Miss. Laina           22
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)           44
4                           Allen, Mr. William Henry           24

In [79]:
import numpy as np

# say we look at the "Fare" column and we want to round it up
# we will use numpy's ceil function to round up the numbers
train['Fare_ceil'] = train.Fare.apply(np.ceil)

In [80]:
train.loc[0:4, ['Fare', 'Fare_ceil']]

      Fare  Fare_ceil
0   7.2500        8.0
1  71.2833       72.0
2   7.9250        8.0
3  53.1000       54.0
4   8.0500        9.0

In [81]:
# let's extract last name of each person

# we will use a str method
# now the series is a list of strings
# each cell has 2 strings in a list as you can see below
train.Name.str.split(',').head()

0                           [Braund,  Mr. Owen Harris]
1    [Cumings,  Mrs. John Bradley (Florence Briggs ...
2                            [Heikkinen,  Miss. Laina]
3      [Futrelle,  Mrs. Jacques Heath (Lily May Peel)]
4                          [Allen,  Mr. William Henry]
Name: Name, dtype: object

In [82]:
# we just want the first string from the list
# we create a function to retrieve
def get_element(my_list, position):
    return my_list[position]

In [83]:
# use our created get_element function
# we pass position=0
train.Name.str.split(',').apply(get_element, position=0).head()

0       Braund
1      Cumings
2    Heikkinen
3     Futrelle
4        Allen
Name: Name, dtype: object

## apply() function as a DataFrame method 
## Applies a function on either axis of the DataFrame

In [85]:
url = 'http://bit.ly/drinksbycountry'
drinks = pd.read_csv(url)
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [86]:
drinks.loc[:, 'beer_servings':'wine_servings'].head()

   beer_servings  spirit_servings  wine_servings
0              0                0              0
1             89              132             54
2             25                0             14
3            245              138            312
4            217               57             45

In [87]:
# you want apply() method to travel axis=0 (downwards, column) 
# apply Python's max() function
drinks.loc[:, 'beer_servings':'wine_servings'].apply(max, axis=0)

beer_servings      376
spirit_servings    438
wine_servings      370
dtype: int64

In [88]:
# you want apply() method to travel axis=1 (right, row) 
# apply Python's max() function
drinks.loc[:, 'beer_servings':'wine_servings'].apply(max, axis=1)

0        0
1      132
2       25
3      312
4      217
5      128
6      221
7      179
8      261
9      279
10      46
11     176
12      63
13       0
14     173
15     373
16     295
17     263
18      34
19      23
20     167
21     173
22     173
23     245
24      31
25     252
26      25
27      88
28      37
29     144
      ...
163    178
164     90
165    186
166    280
167     35
168     15
169    258
170    106
171      4
172     36
173     36
174    197
175     51
176     51
177     71
178     41
179     45
180    237
181    135
182    219
183     36
184    249
185    220
186    101
187     21
188    333
189    111
190      6
191     32
192     64
Length: 193, dtype: int64

In [89]:
# finding which column is the maximum's category name
drinks.loc[:, 'beer_servings':'wine_servings'].apply(np.argmax, axis=1)

0        beer_servings
1      spirit_servings
2        beer_servings
3        wine_servings
4        beer_servings
5      spirit_servings
6        wine_servings
7      spirit_servings
8        beer_servings
9        beer_servings
10     spirit_servings
11     spirit_servings
12     spirit_servings
13       beer_servings
14     spirit_servings
15     spirit_servings
16       beer_servings
17       beer_servings
18       beer_servings
19       beer_servings
20       beer_servings
21     spirit_servings
22       beer_servings
23       beer_servings
24       beer_servings
25     spirit_servings
26       beer_servings
27       beer_servings
28       beer_servings
29       beer_servings
            ...
163    spirit_servings
164      beer_servings
165      wine_servings
166      wine_servings
167    spirit_servings
168    spirit_servings
169    spirit_servings
170      beer_servings
171      wine_servings
172      beer_servings
173      beer_servings
174      beer_servings
175      beer_servings
176      beer_servings
177    spirit_servings
178    spirit_servings
179      beer_servings
180    spirit_servings
181    spirit_servings
182      beer_servings
183      beer_servings
184      beer_servings
185      wine_servings
186    spirit_servings
187      beer_servings
188      beer_servings
189      beer_servings
190      beer_servings
191      beer_servings
192      beer_servings
Length: 193, dtype: object

# Iterator

## Iterator is an object which allows a programmer to traverse through all the elements of a collection, regardless of its specific implementation. In Python, an iterator object implements two methods, iter() and next().

### String, List or Tuple objects can be used to create an Iterator.

In [35]:
import sys
list = [1,2,3,4]
it = iter(list) # this builds an iterator object
print ("Next Available Element in iterator:", next(it)) #prints next available element in iterator
print ("Next Available Element in iterator:", next(it))
#Iterator object can be traversed using regular for statement

while True:
    try:
        print (next(it))
    except StopIteration:
        sys.exit()

Next Available Element in iterator: 1
Next Available Element in iterator: 2
3
4

SystemExit:

C:\Users\Dr.Thyagaraju\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2870: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

# isinstance()

In [62]:
# Python code for  isinstance()
# Syntax : isinstance(object, classinfo) 
#The isinstance() takes two parameters:
# object : object to be checked
# classinfo : class, type, or tuple of classes and types

class Test:
    a = 5
TestInstance = Test()
 
print(isinstance(TestInstance, Test))

True

PPRINT

In [92]:
import pprint
#dictionary from another answer
my_dict = dict(key=dict(val='foo',val2= 'bar'))
print(my_dict)
pprint.pprint(my_dict)

{'key': {'val': 'foo', 'val2': 'bar'}}
{'key': {'val': 'foo', 'val2': 'bar'}}

In [93]:
data = {'a':2, 'b':{'x':3, 'y':{'t1': 4, 't2':5}}}
print(data)
pprint.pprint(data)

{'a': 2, 'b': {'x': 3, 'y': {'t1': 4, 't2': 5}}}
{'a': 2, 'b': {'x': 3, 'y': {'t1': 4, 't2': 5}}}

In [99]:
data = { 'key1' : 'value1',
                     'key2' : 'value2',
                     'key3' : { 'key3a': 'value3a' },
                     'key4' : { 'key4a': { 'key4aa': 'value4aa',
                                           'key4ab': 'value4ab',
                                           'key4ac': 'value4ac'},
                                'key4b': 'value4b'}
                   }
print("USING PRINT:\n",data)
print("\n\n USING PPRINT:\n")
pprint.pprint(data)

USING PRINT:
 {'key1': 'value1', 'key2': 'value2', 'key3': {'key3a': 'value3a'}, 'key4': {'key4a': {'key4aa': 'value4aa', 'key4ab': 'value4ab', 'key4ac': 'value4ac'}, 'key4b': 'value4b'}}


 USING PPRINT:

{'key1': 'value1',
 'key2': 'value2',
 'key3': {'key3a': 'value3a'},
 'key4': {'key4a': {'key4aa': 'value4aa',
                    'key4ab': 'value4ab',
                    'key4ac': 'value4ac'},
          'key4b': 'value4b'}}